# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant::Config.run do |config|
  # Custom for linux
  config.vm.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
  config.vm.customize ["modifyvm", :id, "--natdnsproxy1", "on"]
  config.vm.share_folder "v-root", "/vagrant", ".", :nfs => true
  config.vm.share_folder "website", "/var/www", "../emovies-web", :nfs => true
  # Custom for windows (requires running as administrator)
  config.vm.share_folder "website", "/var/www", "../emovies-web"
  config.vm.customize ["setextradata", :id, "VBoxInternal2/SharedFoldersEnableSymlinksCreate/website", "1"]

  config.vm.box = "precise32"
  config.vm.box_url = "http://files.vagrantup.com/precise32.box"
  config.vm.forward_port 80, 8080
  config.vm.network :hostonly, "10.10.50.10"

  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = "cookbooks"
  #   chef.roles_path = "../my-recipes/roles"
  #   chef.data_bags_path = "../my-recipes/data_bags"
    chef.add_recipe "vagrant_main"
  #   chef.add_role "web"
  #
  #
  # You may also specify custom JSON attributes:
    chef.json = {
		:mysql => {
			:server_root_password   => "root",
			:server_repl_password   => "",
			:server_debian_password => ""
		},
		:php => {
			:directives => {
				:short_open_tag	    => 0,
				:"date.timezone"    => "Europe/Paris"
			}
		}
	}
  end
end
